.carousel-image{
    min-height: 500px;
    max-height: 500px;
    object-fit: cover;
    filter: brightness(35git a%);
}
.btn-bg{
    background: #FEF5FA;
}
.btn-dual-bg{
    background: #5794F6;
}
.btn-color{
    color: #5794F6;
}
.tooltip-bg{
    background: #FF4E4E;
}
/* .custom-bg{
    position: relative;
    z-index: -50;
  
   
} */
.booknow-btn{
  z-index: -10;
}

 /* .custom-bg::after{
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    z-index: -1;
    
   
}  */
.register-wraper{
    height: 250px;
    background: #289BDE;
}
.register-wraper>h1{
    font-size: 45px;  
}
.register-btn{
    color: #289BDE !important;
    
}
.custom-btn{
   background: #289BDE;
    
}
.rating-wraper{
    color:goldenrod;
}
.trusted-album>img{
    width: 140px;
    height: 24px;
    object-fit: contain;
}
footer{
    height: 300px;
}
footer i{
    font-size: 25px;
    width: 25px;
    margin-right: 10px;
}